<input
  class="karma-input _search"
  ng-model="$ctrl.search"
  ng-change="$ctrl.onChange($ctrl.search)"
  type="text"/>


<div ng-if="$ctrl.search">

    <textarea
      class="karma-input _comment"
      ng-model="$ctrl.comment"></textarea>

    <button
      ng-if="$ctrl.comment"
      ng-click="$ctrl.create($ctrl.search, $ctrl.comment)"
    >create
    </button>
</div>


<div>

    <ul>
        <li ng-repeat="item in $ctrl.results.data">{{item.comment}}</li>
    </ul>

    <p ng-if="$ctrl.results.total">total: {{$ctrl.results.total}}</p>

</div>