<div class="karma-search-container">

    <input
      class="karma-input _search"
      ng-model="$ctrl.search"
      ng-change="$ctrl.onChange($ctrl.search)"
      placeholder="Search"
      id="search"
      type="text"/>

    <div class="karma-logo">
        <a href="javascript:void(0)" ng-click="$ctrl.goToMain()">M</a>
    </div>

</div>


<div ng-if="$ctrl.getLocation() === '/'" class="karma-last">
    <h3>Last ones</h3>
    <ul>
        <li ng-repeat="post in $ctrl.lastPosts">
            <a ng-click="$ctrl.link=true" href="/#!/{{$ctrl.getLink(post.url)}}">{{post.comment }}</a>
        </li>
    </ul>


</div>

<div ng-if="$ctrl.search">

    <textarea
      class="karma-input _comment"
      ng-model="$ctrl.comment"
      placeholder="Write your post here"
    ></textarea>

    <button class="karma-input _post"
            ng-disabled="!(($ctrl.comment.length > 1) && ($ctrl.comment.length < 10000))"
            ng-click="$ctrl.create($ctrl.search, $ctrl.comment)"
    >Post
    </button>
</div>

<div ng-if="$ctrl.results.data">

    <div class="karma-comment"
         ng-repeat="item in $ctrl.results.data" ng-bind-html="item.comment | linky">
    </div>

    <ul ng-if="$ctrl.pagesCount > 1" class="karma-pagination">
        <li ng-repeat="i in $ctrl.getNumber($ctrl.pagesCount) track by $index"
            ng-class="{'current': $index == $ctrl.currentPage-1}"
            ng-click="$ctrl.goToPage($index)"
        >
            <span>{{$index+1}}</span>
        </li>
    </ul>

</div>