* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;

}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: linear-gradient(to right top, #dee1e5, #b5ecfe, #7ef9f1, #86ffba, #cdf96b);
}

.karma-container {
    width: 80%;
    margin: 0 auto;
    display: none; /* noscript */
    color: #444;
}

.karma-search-container .karma-logo {
    width: 60px;
}

.karma-logo {
    margin-top: -52px;
}

.karma-logo a {
    text-decoration: none;
    color: #222;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.karma-input {
    border: 2px solid #ccc;
    color: #666;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.karma-input._post {
    cursor: pointer;
}

.karma-input:disabled {
    color: #aaa;
    cursor: default;
}

.karma-input._search {
    width: calc(100% - 40px);
    margin-left: 40px;
    font-size: 18px;
    color: green;
    margin-top: 20px;
}

.karma-input._comment {
    width: 100%;
    font-size: 16px;
    resize: none;
}

.karma-error {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.karma-pagination {
    margin-bottom: 24px;
    overflow: hidden;
}

.karma-pagination li {
    list-style-type: none;
    float: left;
    margin: 0 5px;
    border: 1px solid #999;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;

}

.karma-pagination .current {
    background: #ccc;
    cursor: default;
}

.karma-comment {
    background: #c7c7c7;
    padding: 10px;
    margin: 20px 0;
    border-radius: 2px;
    overflow: hidden;
}

.karma-images {
    overflow: hidden;
    margin-bottom: 10px;
}

.karma-image-preview {
    float: left;
    margin-right: 10px;
}

.karma-last {
    margin-top: 40px;
}

.karma-last li {
    list-style-type: none;
    margin: 14px 0;
}