* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;

}

.karma-container {
    width: 80%;
    margin: 0 auto;
    display: none; /* noscript */
    color: #444;
}

.karma-input {
    border: 2px solid #ccc;
    color: #666;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.karma-input._post {
    cursor: pointer;
}

.karma-input:disabled {
    color: #aaa;
    cursor: default;
}

.karma-input._search {
    width: 100%;
    font-size: 18px;
    color: green;
    margin-top: 20px;
}

.karma-input._comment {
    width: 100%;
    font-size: 16px;
    resize: none;
}

.karma-error {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.karma-pagination li {
    list-style-type: none;
    float: left;
    margin: 0 5px;
    border: 1px solid #999;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;

}

.karma-pagination .current {
    background: #ccc;
    cursor: default;
}

.karma-comment {
    background: #eef;
    padding: 10px;
    margin: 20px 0;
    border-radius: 2px;
}

.karma-last {
    margin-top: 40px;
}

.karma-last li {
    list-style-type: none;
    margin: 8px 0;
}